<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Bookmark</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  // <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- The real deal -->
  <script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static "js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/tags.js" %}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

// $(document).ready(function(){

//     $('[data-toggle="tooltip"]').tooltip({
//       placement : 'bottom'

//     });

// });
$(function () {
  $('[data-toggle="tooltip"]').tooltip({ 
    container: 'body', 
    html: false 
  });
  
  // $('[data-toggle="popover"]').popover({ 
  //   container: 'body', 
  //   html: false  
  // });
  $("[data-toggle=popover]").popover({
    html: true, 
    content: function() {
          return $('#popover-content').html();
    }
});
});
</script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
   <link href="{% static "jquery.tagit.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "tagit.ui-zendesk.css" %}" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container-fluid">
      <div class = "panel-group">
      <div class = "panel panel-primary">
      <div class = "panel-heading" style="">Welcome to Bookmark++
      <!-- <a href ="#"><span class = "pull-right glyphicon glyphicon-plus" data-toggle = "tooltip" data-original-title = "Save a bookmark"></span></a> -->
      <a class = "icon" href ="{% url 'home' %}">Explore</a>
      <div style = "float:right;">
      <!-- <button type = "submit" class = "btn btn-primary" style="float: right;margin-top:-6.5px">Logout</button> -->
     <a href="#" data-toggle="tooltip" title="Save a Bookmark" data-placement="bottom">
     <span class="glyphicon glyphicon-plus" data-toggle="popover" data-placement="left" title="Save your bookmarks here"</span>
     <div id="popover-content" class="hide">
    <form name ="bform" method = "post" action = "{% url 'savebookmark' %}" class ="form-inline">
     {% csrf_token %}
      <div class="form-group">
      <input placeholder = "http://..." name = "url" class = "form-control" type = "text" required>
      <button type = "submit" class = "btn btn-danger">Save</button>
     </div> 
      </form>
      </div>
    </a>
    <a href = "{% url 'index' %}" class = "btn btn-primary" style="margin-top:-6.5px">Logout</a>
    </div>
      </div>
      </div>
      </div>
      <div class = "jumbotron">
      <div class = "row">
      <!-- <div class = "col-md-4"> -->
      <div id = "container" class = "cols">
      <ul>
      {% for b in blist %}
      <li class="article">
      <a href = "{{ b.bookmark }}">{{ b.bookmark }}</a>
      <!-- <ul>
      <li> -->
      <div><a href = "#myModal" data-toggle="modal" id = "{{ b.bookmark }}" data-target = "#edit-modal"><span class = "glyphicon glyphicon-tag"></span></a></div>
      <!-- <div><a href = "#myModal" data-toggle="modal" id = "1" data-target ="#edit-modal">hello</a></div> -->
       <div id="edit-modal" class="modal fade"  role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add tags</h4>
        </div>
        <div class="modal-body">
       <form name = "form2" id = "form2" method = "post" action = "{% url 'savetag' %}" class = "form-inline">
        {% csrf_token %}
        <div class = "form-group">
        <input name = "tag"  id = "tag" required>
        <input type="hidden" id = "field1" name="bookmark" value="">
        <button type = "submit" class = "btn btn-danger">Save</button>
        </div>
        </form>
        </div>
        <div class="modal-footer">
        </div>
        </div>
        </div>
        </div>
        </li>
      </ul>


      </li>
      
      {% endfor %}


      </ul>
      </div>
      <!-- </div> -->
      <!-- <div class = "col-md-8">
      </div> -->
      </div>
      </div>
       <script>
        $('#edit-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                esseyId = e.relatedTarget.id;
                document.getElementById('field1').value = esseyId
                    $modal.find('.edit-content').html(esseyId);
//                }
//            });
            
        });
//         $('#edit-modal').on('hidden.bs.modal', function(e){
//            $(this).find('#form2')[0].reset();
//            // $(this).find('form2').trigger('reset');
//            // $(this).find("input").val('').end()
           
// });
        $('#edit-modal').on('hidden.bs.modal', function(e) {
  $('#form2')[0].reset();
});
    </script>
</body>
</html>