<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Bookmark</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

// $(document).ready(function(){

//     $('[data-toggle="tooltip"]').tooltip({
//       placement : 'bottom'

//     });

// });
$(function () {
  $('[data-toggle="tooltip"]').tooltip({ 
    container: 'body', 
    html: false 
  });
  
  // $('[data-toggle="popover"]').popover({ 
  //   container: 'body', 
  //   html: false  
  // });
  $("[data-toggle=popover]").popover({
    html: true, 
    content: function() {
          return $('#popover-content').html();
    }
});
});

// $(function(){ // DOM ready

//   // ::: TAGS BOX

//   $("#tag input").on({
//     focusout : function() {
//       var txt = this.value.replace(/[^a-z0-9\+\-\.\#]/ig,''); // allowed characters
//       if(txt) $("<span/>", {text:txt.toLowerCase(), insertBefore:this});
//       this.value = "";
//     },
//     keyup : function(ev) {
//       // if: comma|enter (delimit more keyCodes with | pipe)
//       if(/(188|13)/.test(ev.which)) $(this).focusout(); 
//     }
//   });
//   $('#tag').on('click', 'span', function() {
//     if(confirm("Remove "+ $(this).text() +"?")) $(this).remove(); 
//   });

// });
</script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
</head>

<body>

  <div class="container-fluid">
      <div class = "panel-group">
      <div class = "panel panel-primary">
      <div class = "panel-heading" style="">Welcome to Bookmark++
      <!-- <a href ="#"><span class = "pull-right glyphicon glyphicon-plus" data-toggle = "tooltip" data-original-title = "Save a bookmark"></span></a> -->
      <a class = "icon" href ="{% url 'home' %}">Explore</a>
      <div style = "float:right;">
      <!-- <button type = "submit" class = "btn btn-primary" style="float: right;margin-top:-6.5px">Logout</button> -->
     <a href="#" data-toggle="tooltip" title="Save a Bookmark" data-placement="bottom">
     <span class="glyphicon glyphicon-plus" data-toggle="popover" data-placement="left" title="Save your bookmarks here"</span>
     <div id="popover-content" class="hide">
    <form name ="bform" method = "post" action = "{% url 'savebookmark' %}" class ="form-inline">
     {% csrf_token %}
      <div class="form-group">
      <input placeholder = "http://..." name = "url" class = "form-control" type = "text" required>
      <button type = "submit" class = "btn btn-danger">Save</button>
      <!-- <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add tags
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
     </ul>
      </div> -->
     </div> 
      </form>
      </div>
    </a>
    <button type = "submit" class = "btn btn-primary" style="margin-top:-6.5px">Logout</button>
    </div>
      </div>
      </div>
      </div>
      <div class = "jumbotron">
      <div class = "row">
      <!-- <div class = "col-md-4"> -->
      <div id = "container" class = "cols">
      <ul>
      {% for b in blist %}
      <li class="article">
      <a href = "{{ b.bookmark }}">{{ b.bookmark }}</a>
      <ul>
      <li>
      <a href = "#" data-toggle="modal" data-target = "#myModal"><span class = "glyphicon glyphicon-tag"></span></a>
       <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add tags</h4>
        </div>
        <div class="modal-body">
        <form name = "form2" method = "post" action = "" class = "form-inline">
        <div class = "form-group">
        <input name = "tag" class = "form-control" id = "tag" type = "text" list = "categories" required>
        <datalist id="categories">
        <option value="Data Science">
        <option value="Python">
        <option value = "Android">
        <option value="Java">
        <option value="C++">
        <option value = "Data Analytics">
        <option value = "Big Data">
        <option value = "Graphics">
        </datalist>
        <button type = "submit" class = "btn btn-danger">Save</button>
        </div>
        </form>
        </div>
        <div class="modal-footer">
        </div>
        </div>
        </div>
        </div>
        </li>
      </ul>


      </li>
      
      {% endfor %}


      </ul>
      </div>
      <!-- </div> -->
      <!-- <div class = "col-md-8">
      </div> -->
      </div>
      </div>
</body>
</html>