<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Bookmark</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
</head>
<body>
<div class = "container fluid">
<div class = "panel-group">
      <div class = "panel panel-primary">
      <div class = "panel-heading">Welcome to Bookmark++</div>
      </div>
      </div>
<div class="_vt _3w _vu" data-grid-item="true" style="top: 0px; left: 0px; transform: translateX(300px) translateY(0px); width: 136px;">
<div>
<button aria-pressed="false" class="CoGGB _2ErzO" data-test-id="interest-card">
<div style="position: relative; height: 100%; width: 100%;">
<div class="_8C6AR">
<div class="_3rkxP">
<div style="width: 100%; height: 100%;">
<div class="_1ya97" style="background-color: rgb(208, 182, 173); background-image: url(&quot;https://s-media-cache-ak0.pinimg.com/400x/8d/45/98/8d4598e35340e87650f70548c77e4847.jpg&quot;);">
<div class="CRcyx">
<div class="_1t--X _3DBIo">
<div class="_st _ss _su _sl _5d _sm _sq _ns _nt _nu _nv">Home decor</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="t0_dn">
<div class="_st _ss _su _sl _5d _sm _rs _rt _ru _rv _qg _qh _qi _qj _sq _ns _nt _nu _nv _p4 _p5 _p6 _p7">Home decor</div>
</div>
<div class="_15z7q"></div>
</div>
</div>
</button>
</div>
</div>
</div>
</body>
</html>