{% extends "base_generic.html" %}

{% block content %}
<form method = "post" action =".">
{% csrf_token %}
<select multiple = "dropdown">
  <option value="python">Python</option>
  <option value="android">Android</option>
  <option value="data science">Data Science</option>
  <option value="java">Java</option>
  <option value="big data">Big Data</option>
  <option value="C++">C++</option>
  <option value="Networks">Networks</option>
  <option value="UX design">UX Design</option>
</select>
<button type = "submit" class = "btn btn-primary">Submit</button>
</form>
{% endblock %}